@import './layout.less';

@font-face{
    font-family: "fei";
    src: url(fei.woff) format('woff'),
         url(fei.ttf) format('trueType');
}

.fei-icon-circle{
    font-family: 'fei';
    
}
.fei-icon-circle::before{
    content: '\E001';
}